<!DOCTYPE html>
<html>
<head>
	<title>Power Rat</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<%= stylesheet_link_tag "c3.css" %>
	<%= stylesheet_link_tag "pwrrat.css" %>
	<%= stylesheet_link_tag "animate.css" %>
</head>
<body>
	<nav class="top">
		<h1 class="tlt">살아남아라! 전력쥐!</h1>
	</nav>
	<section class="side">
		<div class="gameView">
			<div id="hpBarWrapper">
				<h2>전력쥐의 남은 전기</h2>
				<div id="hpBar">
					<div></div>
				</div>
			</div>
			<div class="character">
				<img id="pikachu" align="middle" src=<%= asset_path "pika1.gif" %> /><br>
			</div>
			<div class="buttons">
				<a class="action-button shadow animate blue">누적 전력량</a>
				<a class="action-button shadow animate red">현재 전력량</a>
				<a class="action-button shadow animate green">역대 피카츄</a>
				<a class="action-button shadow animate yellow">위험한 요소</a>
			</div>
			<div style="clear: both;"></div>
		</div>
	</section>

	<section class="info">
		<div class="graph">
			<div class="graphTop">
				<h2>Information</h2>
			</div>
			<div id="chart1"></div>
			<div id="chart2"></div>
		</div>
	</section>

	<%= javascript_include_tag "c3.js" %>
	<%= javascript_include_tag "jquery-1.11.2.js" %>
	<%= javascript_include_tag "jquery.textillate.js" %>
	<%= javascript_include_tag "jquery.lettering.js" %>
	<%= javascript_include_tag "jquery.timer.js" %>
	<script>
		var prm = new PowerRatManager();
		$(function() {
			$('.tlt').textillate({ 
			  in: { effect: 'splat' },
			  out: { effect: 'foldUnfold', sync: true },
			  loop: true
			});
		});
	</script>
	<script>
	function usage_all(){
		$.ajax({
			url	: '/sites/usage_all?timestamp=' + new Date().getTime()
			,type	: 'GET'
			,cache	: 'false'
			,success	: function(data){
				var usage_array = []
				for (i = 0 ; i < data.length ; i++){
					usage_array[i] = [data[i].name, data[i].usage]
				}
				$('#chart1').html('')
				$('#chart2').html('')
				var chart = c3.generate({
				    data: {
					columns: usage_array,
 					type : 'donut'
				    },
				    donut: {
			    		title: "현재까지 소모한 전력량"
				    },
				    bindto: '#chart2'
				});
			}
		})
	}
	function active_all(){
		$.ajax({
			url	: '/sites/active_all'
			,type	: 'GET'
			,cache	: 'false'
			,success	: function(data){
				var active_array = []
				for (i = 0 ; i < data.length ; i++){
					active_array[i] = [data[i].name, data[i].active_power]
				}
				$('#chart1').html('')
				$('#chart2').html('')
				var chart = c3.generate({
				    data: {
					columns: active_array,
 					type : 'bar'
				    },
				    donut: {
			    		title: "실시간 전력소모량"
				    },
				    bindto: '#chart2'
				});
			}
		})
	}
	function active_appliances_all(){
		$.ajax({
			url	: '/sites/active_appliances_all'
			,type	: 'GET'
			,cache	: 'false'
			,success	: function(data){
				var active_array = []
				for (i = 0 ; i < data.length ; i++){
					for (j = 0 ; j < data[i].length ; j++){
						a = 0
						for (k = 0 ; k < data[i][j]["active_power"].length ; k++)
							a += data[i][j]["active_power"][k];
						active_array[i] = [data[i][j].name, a]
					}
				}
				$('#chart1').html('')
				$('#chart2').html('')
				var chart = c3.generate({
				    data: {
					columns: active_array,
 					type : 'donut'
				    },
				    donut: {
			    		title: "실시간 기기들 전력소모량"
				    },
				    bindto: '#chart2'
				});
			}
		})
	}
	usage_all()
	function get_pikachu_info(){
		$.ajax({
			url	: '/pikachu_info'
			,type	: 'GET'
			,cache	: 'false'
			,success	: function(data){
				ratio = data.remaining_power / data.max_power;
				$('#hpBar div')[0].style.width = (ratio * 100) + '%';
				if ( 0 < ratio && ratio <= 1 / 3){
					$('#pikachu')[0].src = 'assets/pika3.gif';
					$('#pikachu')[0].style.paddingTop = '50px';
				}
				else if ( 1 / 3 < ratio && ratio <= 2 / 3){
					$('#pikachu')[0].src = '/assets/pika2.gif';
					$('#pikachu')[0].style.paddingTop = '0px';
				}
				else if ( 2 / 3 < ratio && ratio <= 1){
					$('#pikachu')[0].src = '/assets/pika1.gif';
					$('#pikachu')[0].style.paddingTop = '0px';
				}
			}
		})
	}
	pikachu_info_timer = $.timer(get_pikachu_info, 2000, true)
	</script>
	<%= javascript_include_tag "pwrrat.js" %>
</body>
